{% extends 'base.html' %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}
<title>Sign Up</title>

<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Sign Up</h3>
    <form action='' method="post">
        {% csrf_token %}

        {{ form.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        <input type="submit" class="button expanded" value="Sign Up" />
    </form>
  </div>
</div>

{% endblock %}